@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
body {
  font-family: "Bruno Ace SC";
}
.h2 {
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 192px */
}
.h3 {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 96px */
}
.d1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
.d2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.d3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.text-white{
  color: #fff;
}
.text-green{
  color: #00FFA3;
}